.containerArrow {
  border: 2px solid #05f8d3;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
	outline: none;
}

.containerArrow, .containerArrow * {
	transition: all .15s linear;
}
.containerArrow:hover {
  border: 4px solid #05f8d3;
  cursor: pointer;
}

.containerArrow:active {
    background: #05f8d3;
}

.imgArrow{
  width: 24px;
}
