.containerPrimary {
  background-color: #05f8d3;
  border-radius: 42px;
  height: 54px;
  width: 343px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}

.containerPrimary,
.containerPrimary * {
  transition: all 0.15s linear;
}

.containerPrimary:hover {
  background-color: #002673;
  cursor: pointer;
}

.containerPrimary:active {
  background: #002673;
}

.divInsidePrimary {
  background-color: #05f8d3;
  border: 2px solid #002673;
  box-sizing: border-box;
  border-radius: 35.64px;
  height: 46px;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divInsidePrimary:active {
  background: #002673;
}

.divInsidePrimary:active .textStylePrimary {
  color: #05f8d3;
}

.textStylePrimary {
  color: #002673;
  align: center;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 11px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .containerPrimary {
    width: 200px;
  }
}
