.flipflap {
  border-radius: 10rem;
  height: 16rem;
  width: 16rem;
  background-color: transparent;
  border: 1px solid #06f8d3;
}

.flipflapContentTop {
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  height: 7.4rem;
  width: 15rem;
  background-color: #ffffffb3;
  position: absolute;
  left: 0.6rem;
  top: 0.6rem;
}

.flipflapContentBottom {
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  height: 7.4rem;
  width: 15rem;
  background-color: #ffffffb3;
  position: absolute;
  left: 0.6rem;
  bottom: 0.6rem;
}

.flipFlapLine {
  height: 0.2rem;
  width: 100%;
  background-color: transparent;
}

.flipFlapTextUp {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.8rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #0a0724;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2.4rem;
}

.flipFlapTextDown {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #0a0724;
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.flipFlapTop {
  height: 50%;
}

.flipFlapBottom {
  height: 50%;
  border-top: 2px solid transparent;
}

#flipFront,
#flipBack {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.flipCardFlip,
.react-card-flip {
  height: 100%;
  width: 100%;
}
