.container{
    background-color: #05F8D3;
    border-radius: 42px;
    height: 54px;
    width: 343px;
    display: flex;
    align-items: center;
    justify-content: center;
	outline: none;
}

.container, .container * {
	transition: all .15s linear;
}
.container:hover{
    background-color: #002673;
    cursor: pointer;
}

.container:active{
    background: #002673;
}

.divInside {
    background-color: #05F8D3;
    border: 2px solid #002673;
    box-sizing: border-box;
    border-radius: 35.64px;
    height: 46px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.divInside:active{
    background: #002673;
}

  .textStyle {
    color: #002673;
    align: center;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 1.7rem;
    line-height: 11px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }