.containerHome {
  margin-right: 12.5%;
  margin-left: 12.5%;
}

.h3Home {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 2px;
}

.topicLineHome {
  color: #c8368a;
}

.h2Home {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 123.5%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #000000;
}

.eventsHome {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.h4Home {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  color: #002673;
}

.moreEventsHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 48px;
}

.pHome {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 32px;
  color: #000000;
}

.getStartedHome {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.marginButtonHome {
  margin-left: 12%;
}

.divArrowHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.divStartUpHome {
  border-top: 3px solid #05f8d3;
  margin-top: 51px;
  box-sizing: border-box;
}

.circleStartUpHome {
  width: 48px;
  height: 24px;
  background-color: #ffffff;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 3px solid #05f8d3;
  border-bottom: 0;
  margin-top: -24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleStartUpHome:hover{
  cursor: pointer;
}

.divMidleStartupHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgStartUpHome {
  margin-top: 8px;
  height: 24px;
}

.divCenterHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divCenterVericalHome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.h2StartUpHome {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
}

.hrStartUpHome {
  width: 48px;
  border: 2px solid #05f8d3;
}

.noPaddingLeftHome {
  padding-left: 0px !important;
}

.parallaxHome {
  position: absolute;  
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-top:600px;
}

.homeStartupSection{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.homeElectricRiver{
  width:100%;
  max-height: 1477px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .parallaxHome {
    padding-top:600px;
  }
}

@media screen and (max-width: 600px) {
  .rowStartedHome {
    margin-top: 32px;
  }

  .divJourneyHome {
    margin-top: 48px;
    margin-left: -5px !important;
  }

  .rowArticlesHome {
    margin-top: 84px;
  }

  .hrStartUpHome {
    width: 18px;
  }

  .riverMobile1 {
    position: absolute;
    left: 0px;
    height: 100%;
    z-index: -1;
  }

  .riverMobileImage1{
    margin-top: 500px;
  }
}
