.menuItem {
	display: flex;
	align-items: center;
	height: 60px;
	border-bottom: 1px solid;
	border-color: #ffffff8c;;
}

.menuItem a {
	color: white;
	font-weight: 500;
	font-size: 14px;
	text-transform: capitalize;
	text-decoration: none;
	cursor: pointer;
	opacity: .8;
}