.headerContent {
	 /* margin: 25px */
}

.headerText {
	color: white;
}
.headerTitle {
	font-size: 3.2rem;
	font-weight: bold;
	letter-spacing: .1rem;
}
.headerSubtitle {
	font-size: 1.3rem;
}

.headerButton {
	margin-top: 40px;
}

.flipflop {
	position: absolute;
	left: 60%;
	bottom: 0;
}

/* Desktop */
@media (min-width: 769px) {
	.headerContent {
		max-width: 1000px !important;
	}
}

@media (max-width: 769px) {
	.flipflop {
		left: 60%;
	}
}

/* Phone */
@media (max-width: 577px) {
	.headerButton Button {
		margin: auto;
	}

	.headerTitle {
		font-size: 3.8rem;
	}

	.headerSubtitle {
		font-size: 1.8rem;
		font-weight: normal;
	}

	.flipflop {
		left: 30%;
		bottom: -45%;
	}
}