.headerContainer {
	position: relative;
	height: 500px;
}

.linePath {
	position: absolute;
	bottom: -8px;
	width: 100%
}
.header{
	height: 500px;
	background: radial-gradient(5077.50px at 50% 52.61%, #140B18 0%, #CF4F98 100%);
	clip-path: url(#headerClipDesktop);
	-webkit-clip-path: url(#headerClipDesktop)
}

.headerImage {
	max-width: 1440px;
	height: 80rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10rem;
	padding-right: 10rem;
	background-image: url('./../../assets/images/header_bgk.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 30px;
	background-position-x: center;
	box-shadow: inset 0px 8px 12px rgba(0, 0, 0, 0.25);
}

.imageFilter {
	background: #0A0724;
	opacity: 0.6;
	box-shadow: inset 0px 8px 12px rgba(0, 0, 0, 0.25);
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.parallax {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1
}

/* iPad */
@media (max-width: 769px) {
	.headerImage {
		background-position-y: 175px;
	}
}

/* Phone */
@media (max-width: 577px) {
	.headerContainer {
		position: relative;
		height: 700px;
	}
	.header{
		height: 700px;
		clip-path: url(#headerClipMobile);
		-webkit-clip-path: url(#headerClipMobile)
	}
	.headerImage {
		max-width: 100%;
		height: 97rem;
		background-size: cover;
		/*background-position: -400px;*/
	}
	.linePath {
		bottom: -4px;
	}
}