.navbar-desktop {
	margin-top: 30px;
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
	font-family: Raleway;
}

.navbar-desktop .link {
	color: white;
	cursor: pointer;
	text-decoration: none;
}