.footerContainer {
  background-color: #0a0724;
  padding-top: 3.2rem;
}

.footerLogoText {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.6;
}

.footerDivLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.footerA {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.footerHr {
  opacity: 0.2;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-bottom: 3.6rem;
  margin-top: 2.2rem;
}

.footerB {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  text-decoration: none;
}

.footerDivLinksB {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.footerRow2 {
  margin-bottom: 3.6rem;
}

.footerIcons {
  opacity: 0.4;
}

.footerLogoImg{
  width: 165px;
}

@media screen and (max-width: 600px) {
  .footerDivLinks,
  .footerDivLinksB,
  .footerDivLinks {
    display: block;
  }
  .footerMarginLinks {
    margin-top: 2.8rem;
  }
}
