.textClassCard {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #656565;
  margin-left: 24px;
  margin-right: 21px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.pinCard {
  float: right;
  margin-right: 7px;
}

.shadowCard {
  width: 304px;
  height: 148px;
  position: absolute;
}

.titleClassCard {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: #cd599c;
  margin-bottom: 0px;
}

.subtitleClassCard {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: #656565;
  margin-top: 0;
}

.divTitleCard {
  margin-left: 24px;
  margin-right: 21px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.containerCardCard {
  width: 304px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(69, 69, 69, 0.25);
  border-radius: 2px;
  padding-top: 16px;
  border-radius: 8px;
}

.circleCard {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: inline-block;
  background: #ffffff;
  border: 2px solid #05f8d3;
  box-sizing: border-box;
  margin-bottom: -40px;
}

.containerCard {
  width: 304px;
}

.containerLeftCard {
  width: 304px;
  margin-left: 5.8%;
}

.monthClassCard {
  margin-bottom: 0px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 50px;
  text-align: center;
  color: #002673;
  margin-top: -2px;
}

.dayClassCard {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 50px;
  text-align: center;
  color: #002673;
  margin-top: -20px;
}

.rowCircleCard {
  z-index: 1;
  margin-bottom: -20px;
}

.alice-carousel__dots-item.__active {
  background-color: #c8368a !important;
}

.alice-carousel__dots-item {
  border: 1px solid #c8368a;
  box-sizing: border-box;
  background-color: #ffffff !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .containerCard, .imgCard {
    width: 220px;
  }
}

@media screen and (max-width: 600px) {
  .dayClassCard {
    margin-top: 0px;
  }

  .monthClassCard {
    margin-top: 10px;
  }

  .containerCardCard {
    box-shadow: 5px 5px 10px rgba(69, 69, 69, 0.25);
  }
}
