.containerTag {
  border: 2px solid #05f8d3;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  width: 62px;
	outline: none;
}

.containerTag:hover {
  cursor: pointer;
}

.containerTag, .containerTag * {
	transition: all .15s linear;
}

button:active {
  background-color: #05f8d3;
}

.textTag {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 500;
  font-size: 1.2rem;
  color: #002673;
  margin-top: 5px;
}
