.lPath {
	height: 106px;
	width: 100%;
	background-color: #C8368A;
	clip-path: url(#lineClipDesktop);
	-webkit-clip-path: url(#lineClipDesktop)
}

/* Phone */
@media (max-width: 577px) {
	.lPath {
		height: 67px;
		clip-path: url(#lineClipMobile);
		-webkit-clip-path: url(#lineClipMobile)
	}
}